<article class="post">
  <div class="row">
    <div class=""
  </div>
  <div class="title">
    <strong><a href="/post/{{id}}">{{title}}</a></strong>
  </div>
  <div class="meta">
    Created by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>